{% assign latest_post = site.posts.first %}

<div class="row post">
  <div class="span11">
    <h1 class="title">
      <a href="{{ latest_post.url }}" title="{{ latest_post.title }}">{{ latest_post.title }}</a> 
      {% if latest_post.tagline %} <small>{{ latest_post.tagline }}</small>{% endif %}
    </h1>
    <div class="date f-c-b">Date：<span>{{ latest_post.date | date:'%Y-%m-%d' }}</span></div>
    {% unless latest_post.tags == empty %}
    <div class="tag-n">
      <span class="tag-tip">Tag:</span>
      <ul class="tag_box">
      {% assign tags_list = latest_post.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %} 
      </div>
      {{ latest_post.content }}
      <ul class="pager">
        <li class="next"><a href="{{ BASE_PATH }}/archive.html" title="所有文章">查看所有文章 &rarr;</a></li>
      </ul>
     
  </div>

</div>
