<div class="row post">
  <div class="span11">
    <h1 class="title">{{ page.title }}</h1>
    <div class="date f-c-b">Date：<span>{{ page.date | date_to_long_string }}</span></div>
    {% unless page.tags == empty %}
    <div class="tag-n">Tag
      <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %} 
      </div>
    {{ content }}
    <ul class="pager">
    {% if page.previous %}
      <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a></li>
    {% endif %}
    {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}&rarr;</a></li>
    {% endif %}
    </ul>
    {% include JB/comments %}
  </div>
  
</div>
