<div class="row post">
  <div class="span11">
    <h1 class="title">{{ page.title }}</h1>
    <div class="date f-c-b">Date：<span>{{ page.date | date_to_long_string }}</span></div>
    {% unless page.tags == empty %}
    <div class="tag-n">Tag
      <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %} 
      </div>
    {{ content }}
    <ul class="pager">
    {% if page.previous %}
      <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a></li>
    {% endif %}
    {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}&rarr;</a></li>
    {% endif %}
    </ul>
    <!-- {% include JB/comments %} -->
    <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="http://jeffdeng.me{{ page.url }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"jeffdeng"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
    <!-- 多说公共JS代码 end -->

  </div>
  
</div>
